<div class="modal">
  <div class="modal-content">
    <form [formGroup]="productForm" class="form" (ngSubmit)="saveProduct()">
      <div class="modal-header">
        <div class="modal-title">{{ title }}</div>
      </div>
      <div class="modal-body">
        <div class="field-wrapper">
          <label for="code">Code:</label>
          <input id="code" type="text" formControlName="code">
          <div *ngIf="showValidationMessage('code')" class="error-message">
            <div *ngIf="productForm.get('code')?.hasError('required')">
              Code is required field!
            </div>
            <div *ngIf="productForm.get('code')?.hasError('pattern')">
              Pattern: 2-4 uppercase letters, space, 4-6 digits!
            </div>
            <div *ngIf="productForm.get('code')?.hasError('codeIsNotAvailable')">
              This code already exists!
            </div>
          </div>
        </div>
        <div class="field-wrapper">
          <label for="quantity">Quantity:</label>
          <input id="quantity" type="text" formControlName="quantity">
          <div *ngIf="showValidationMessage('quantity')" class="error-message">
            <div *ngIf="productForm.get('quantity')?.hasError('required')">
              Quantity is required field!
            </div>
            <div *ngIf="productForm.get('quantity')?.hasError('pattern')">
              Quantity is positive integer number!
            </div>
          </div>
        </div>
        <div class="field-wrapper custom-select" (mouseleave)="showFloorsMenu = false">
          <label for="floor">Floor:</label>
          <input id="floor" type="number" formControlName="floor" (click)="showFloorsMenu = !showFloorsMenu" readonly>
          <ul *ngIf="showFloorsMenu" class="menu">
            <li *ngFor="let floor of availableFloors" (click)="selectFloor(floor)">
              {{ floor }}
            </li>
          </ul>
          <div *ngIf="showValidationMessage('floor')" class="error-message">
            <div *ngIf="productForm.get('floor')?.hasError('required')">
              Floor is required field!
            </div>
          </div>
        </div>
        <div class="field-wrapper custom-select" (mouseleave)="showSectionsMenu = false">
          <label for="section">Section:</label>
          <input id="section" type="number" formControlName="section" (click)="showSectionsMenu = !showSectionsMenu" readonly>
          <ul *ngIf="showSectionsMenu && productForm.get('floor')?.value" class="menu">
            <li *ngFor="let section of availableSections" (click)="selectSection(section)">
              {{ section }}
            </li>
          </ul>
          <div *ngIf="showValidationMessage('section')" class="error-message">
            <div *ngIf="productForm.get('section')?.hasError('required')">
              Section is required field!
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn"(click)="closeProductModal()">Dismiss</button>
        <button type="submit" class="btn" [disabled]="productForm.invalid">Save</button>
      </div>
    </form>
  </div>
</div>
