.modal {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .1);
  color: #ff285a;
  font-size: 2rem;

  .modal-content {
    min-width: 50%;
    margin: auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ff285a;

    .modal-header {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 15px;
      text-align: center;
    }

    .modal-footer {
      display: flex;
      justify-content: space-evenly;
      margin-top: 40px;
    }
  }
}

.form {
  .field-wrapper {
    position: relative;
    margin-bottom: 35px;

    label {
      display: block;
      font-size: 1.5rem;
      font-weight: 600;
      padding-bottom: 5px;
    }

    input {
      height: 40px;
      width: 100%;
      background: transparent;
      border: 1px solid #333;
      border-radius: 5px;
      padding: 5px 10px;
      &:focus-visible {
        outline-color: #333;
      }
      &:disabled {
        cursor: not-allowed;
      }
    }

    &.custom-select {
      input {
        cursor: pointer;
      }
      .menu {
        position: absolute;
        margin: 0;
        padding-left: 0;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 3px #333;
        width: 100%;
        z-index: 1;
        li {
          list-style: none;
          padding: 10px;
          cursor: pointer;
          &:hover {
            background-color: rgba(#ff285a, .1);
          }
        }
      }
    }

    .error-message {
      position: absolute;
      margin-top: 2px;
      color: #333;
      font-size: 1.5rem;
    }
  }
}
